# Django
DEBUG=True
DJANGO_SECRET_KEY=change-this-in-production

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# MLflow
MLFLOW_TRACKING_URI=http://localhost:5000

# FastAPI
ML_API_URL=http://localhost:8000

# Database
DATABASE_URL=sqlite:///db.sqlite3
