# Django
DEBUG=True
DJANGO_SECRET_KEY=change-this-in-production

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# MLflow
MLFLOW_TRACKING_URI=http://localhost:5000

# FastAPI
ML_API_URL=http://127.0.0.1:8000
DJANGO_API_URL=http://127.0.0.1:8001

# Database
DATABASE_URL=sqlite:///db.sqlite3
