# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
myenv/
venv/
.venv/
env/

# Environment variables
.env

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# Jupyter
.ipynb_checkpoints/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Build
dist/
build/

# ML / experiments
mlruns/
*.pkl
*.joblib
*.model

# Data
data/raw/*
data/processed/*
data/external/*

# Logs
*.log
logs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Temporary
*.tmp
*.temp

# Pytest
.pytest_cache/
